.profile {
  display: flex;
  gap: 100px;
}

.profile__clothes-section {
  width: 100%;
}

@media screen and (width < 800px) {
  .profile {
    flex-direction: column;
    gap: 4px;
  }
  .profile__side-bar {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0;
  }
}
