.item-card {
  position: relative;
  background-color: #e9e9e9;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  width: 365px;
  max-width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  cursor: pointer;
}

.item-card__header {
  top: 15px;
  position: absolute;
  display: flex;
  left: 50%;
  transform: translate(-50%);
  align-items: center;
  gap: 10px;
}

.item-card__label {
  margin: 0;
  background-color: white;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  padding: 2px 12px;
  border-radius: 4px;
}

.item-card__icon {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.item-card__heart {
  background-image: url(../../assets/heart.png);
  width: 18px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.item-card__heart_liked {
  background-image: url(../../assets/heart_liked.png);
}

@media screen and (width < 800px) {
  .item-card__label {
    top: 7px;
  }
}
