.page {
  position: relative;

  display: flex;
  flex-direction: column;

  min-height: 100vh;

  padding: 32px 40px 24px;
  box-sizing: border-box;
}

@media screen and (width < 768px) {
  .page {
    padding: 18px 16px 20px;
  }
}
