.main {
  margin: 0; /* 0 85px; */
  min-height: 400px;
}

.main__text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.24;
  margin: 40px 0 34px;
}

.main__items {
  list-style: none;
  display: grid;
  justify-content: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(calc(250px - 20px), 1fr));
  grid-gap: 20px 20px;
  margin: 0;
  padding: 0;
}

@media screen and (width < 800px) {
  .main {
    min-height: 530px;
    margin: 0 0 20px;
  }

  .main__text {
    margin: 32px 0 20px;
  }

  .main__items {
    grid-template-columns: repeat(
      auto-fit,
      minmax(0, min(100%/2 - 15px * 1 / 2, max(375px, 100%/4 - 15px * 3 / 4)))
    );
    grid-gap: 15px 15px;
  }
}
