.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 0 28px;
  box-sizing: border-box;
  align-content: center;
}

.header__info {
  display: flex;
  column-gap: 24px;
}

.header__logo {
  width: 89px;
  height: 40px;
}

.header__date-and-location {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  align-content: center;
  margin: 0;
  padding: 0;
}

.header__clothes-button {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  background: none;
  border: none;
  align-content: center;
  width: max-content;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.header__clothes-button_type_menu-closed {
  display: block;
}

.header__menu {
  display: flex;
  flex-direction: row-reverse;
  row-gap: 24px;
  column-gap: 20px;
}

.header__menu-button {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 28px;
  aspect-ratio: 1;
  padding: 0;
  margin: 8px;
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.3;
  background-color: #000000;
  mask-image: url("../../assets/hamburger.svg");
  mask-repeat: no-repeat;
  mask-position: center;
}

.header__menu-button_opened {
  position: absolute;
  width: 21px;
  margin: 11px;
  mask-image: url("../../assets/close-button.svg");
  mask-repeat: no-repeat;
  mask-position: center;
}

.header__menu-button:hover {
  opacity: 1;
}

.header__user {
  display: flex;
  width: max-content;
  gap: 12px;
}

.header__user_type_menu-closed {
  display: flex;
}

.header__name {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.24;
  align-content: center;
  margin: 0;
  padding: 0;
}

.header__avatar {
  width: 40px;
  height: 40px;
}

.header__link {
  text-decoration: none;
  color: #000000;
}

@media screen and (width < 768px) {
  .header {
    margin: 0 0 16px;
  }

  .header__info {
    flex-direction: column;
    row-gap: 32px;
  }

  .header__logo {
    margin: 2px 0;
  }

  .header__menu {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 44px;
    height: 44px;
  }

  .header__menu_opened {
    position: absolute;
    width: 100%;
    height: 208px;
    z-index: 1;
    width: 100%;
    height: 208px;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }

  .header__menu-button {
    display: block;
  }

  .header__clothes-button_type_menu-closed {
    display: none;
  }

  .header__user_type_menu-closed {
    display: none;
  }
}
