.side-bar {
  min-width: 229px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* align-items: center; */
}

.side-bar__user-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* .side-bar__avatar {
  height: 56px;
  width: 56px;
  border-radius: 50%;
} */

.side-bar__username {
  font-size: 20px;
  font-weight: 700;
}

.side-bar__username::first-letter {
  text-transform: uppercase;
}

.side-bar__options {
  font-size: 20px;
  margin: 24px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.side-bar__button {
  border: none;
  background-color: transparent;
  padding: 0;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  transition: opacity linear 0.2s;
}

.side-bar__button:hover {
  opacity: 0.5;
}

@media screen and (width < 800px) {
  .side-bar__username {
    font-size: 24px;
  }
}
