.clothes-section__header {
  display: flex;
  flex-direction: row;
}

.clothes-section__button {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.24;
  color: #00000099;

  padding: 0;
  border: none;
  background: none;

  cursor: pointer;
}

.clothes-section__button:hover {
  color: #000000;
}

.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
}
