.clothes-section__header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 20px;
}

.clothes-section__button {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.24;
  color: #00000099;

  padding: 0;
  border: none;
  background: none;

  cursor: pointer;
}

.clothes-section__button:hover {
  color: #000000;
}

.clothes-section__items {
  /* display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0; */

  list-style: none;
  display: grid;
  justify-content: flex-start;
  grid-template-columns: repeat(
    auto-fit,
    minmax(0, min(100%/2 - 20px * 1 / 2, max(325px, 100%/4 - 20px * 3 / 4)))
  );
  grid-gap: 20px 20px;
  margin: 0;
  padding: 0;
}
/* 
@media screen and (max-width: 830px) {
  .clothes-section__items {
    list-style: none;
    display: grid;
    justify-content: flex-start;
    grid-template-columns: repeat(
      auto-fit,
      minmax(0, min(100%/2 - 20px * 1 / 2, max(325px, 100%/4 - 20px * 3 / 4)))
    );
    grid-gap: 20px 20px;
    margin: 0;
    padding: 0;
  }
} */
