.clothes-section__header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 20px;
  font-weight: 700;
}

.clothes-section__title {
  font-weight: 700;
}

.clothes-section__button {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.24;
  color: #00000099;

  padding: 0;
  border: none;
  background: none;

  cursor: pointer;
}

.clothes-section__button:hover {
  color: #000000;
}

.clothes-section__items {
  list-style: none;
  display: grid;
  justify-content: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(calc(190px - 20px), 1fr));
  grid-gap: 20px 20px;
  margin: 0;
  padding: 0;
}
